/**
 * Application Styles
 */

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.post .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post button {
  background-color: lightblue;
  border-radius: 5px;
  border: 0;
  font-size: 1em;
  padding: .5em;
}

.post textarea {
  height: 300px;
  resize: none;
  width: 100%;
}

.post .content * {
  max-width: 100%;
}


/**
 * Component: post-item
 */

.post-item {
  padding: 30px;
}

.post-item:hover {
  color: blue;
  cursor: pointer;
}

.post-item h2 {
  margin-top: 0;
}

.post-item + .post-item {
  border-top: 1px solid black;
}

