<ul class="list-unstyled">
  {{#each model key='id' as |post|}}
    <li>
      <h2>{{link-to post.title 'posts.post' post}}</h2>
      <p>{{post.snippet}}</p>
    </li>
  {{else}}
    <li>
      <p>There are no posts, yet!</p>
    </li>
  {{/each}}
</ul>
