<form>
  <div class="form-group">
    <label>Email address</label>
    {{input type='text' class='form-control' value=title placeholder='Post Title'}}
  </div>
  <div class="form-group">
    <label>Password</label>
    {{textarea class='form-control' value=body placeholder='Post Body, Markdown Supported!' rows='10'}}
  </div>
  <div class="form-group">
    {{mark-down body}}
  </div>
  <button {{action 'save'}} type="submit" class="btn btn-default">Submit</button>
</form>
